


#aside {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #154687, #10afd7);
    -fx-text-fill: white;
}

/*Button*/
#orderTestBT1 ,  #extraBT1 ,#viewDB_BT1,#DB1,#DB2,#selectTest,#printReciptBT,#addReferBT,#back_to_addTestBT{
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #154687, #10afd7);
    -fx-text-fill: white;
}

#enter_resultBT1,#reportBT1,#addTest_BT1{
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #10afd7, #154687);
    -fx-text-fill: white;
}

#dashGrid #button{
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #154687, #10afd7);
    -fx-text-fill: white;
}

#labicon{
    -fx-background-color: #154687;
    -fx-effect: dropshadow(gaussian, #003344, 7,0.01,-2, 5);

}


/*-------------------------------ENTER RESULTS WINDOW-------------------------------------*/
#enterResSearchBT,#enterResPrintBT,#enterResDeleteBT{
    -fx-background-color: linear-gradient(from 0% 0% to 100% 10%, #1c67c1,#3bcad1,#1c67c1);
    -fx-text-fill: white;
}

.button:hover{
    -fx-background-color: #134a79;
    -fx-text-fill: #ebeef3;
    -fx-font-size: 23px;
}
#topPane .glyph-icon {

    -fx-fill: #cdcdcd;
}

#topPane{

    -fx-background-color: #2b2e3c;
    -fx-effect: dropshadow(gaussian, #3d404a, 7,0.01,-2, 5);
}

#topPane{

    -fx-background-color: #2b2e33;
}

/*logout button*/
#aside .logout-btn{
    -fx-background-color: #eba108;
}

#aside .logout-btn:hover {
    -fx-background-color: #eb7715;
    -fx-font-size: 17px;
}